@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

:root {
  --font-Montserrat: 'Montserrat', serif;
  --font-rubik: 'Rubik', sans-serif;
  --btn-background-color: #f9d3b4;
  --btn-text-color: #212426;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-rubik);
  background-color: #212426;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-Montserrat);
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none;
}